#id1 {
    float: left;
    padding: 20px 70px;
    width: 1379px;
    margin: 0 auto;
    background-color: red;
}

#id2 {
    float: left;
    padding: 20px 70px;
    width: 1379px;
    height: 50px;
    margin: 0 auto;
    background-color: red;
}

.sidebar {
    float: right;
    width: 400px;
    background-color: white;
    position: relative;
    top: -1535px;
    right: 80px;
    padding: 20px;
    height: 1020px;
    margin-bottom: -600px;
}

.mainarticles {
    width: 780px;
    float: left;
    border: 1px solid white;
    padding: 50px;
    background-color: white;
    padding-left: 1px;
    margin-left: 100px;
    margin-bottom: 40px;
}

#lastmainarticles {
    width: 780px;
    float: left;
    border: 1px solid white;
    padding: 50px;
    background-color: white;
    padding-left: 1px;
    margin-left: 100px;
}

.bottomtextl {
    float: left;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 20px;
    color: grey;
}

.bottomtextr {
    float: right;
    font-size: 20px;
    color: grey;
    position: relative;
    top: 20px;
}

section ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

section ul a:hover {
    text-decoration: underline;
}

section ul {
    float: left;
    list-style: none;
    margin-top: -5px;
}

section ul li {
    padding: 10px;
    margin-left: -50px;
    border-bottom: 1px solid #DCDCDC;
}

input {
    float: left;
    padding: 10px;
    width: 370px;
    font-size: 17px;
}

input[type=submit] {
    text-indent: -9999px;
    position: relative;
    left: 350px;
    top: -37px;
    width: 40px;
    height: 36px;
    background: url(search-icon-vector.jpg);
    border-style: none;
}

h3 {
    width: 450px;
    font-size: 15px;
    position: relative;
    top: -250px;
    padding-left: 350px;
    margin: 0px;
    margin-bottom: -220px;
}

hr {
    width: 828px;
    margin-left: 0px;
}

body {
    margin: 0;
    background-color: #E6E6FA;
}

header nav ul {
    float: left;
    position: relative;
    top: -150px;
    left: 350px;
}

header nav ul li {
    float: left;
    padding: 20px 50px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Lobster;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

article h2:hover {
    text-decoration: underline;
}

nav a:hover {
    color: red;
    background-color: white;
    text-decoration: underline;
}

header ul {
    float: left;
    list-style: none;
}

header ul li {
    float: left;
}