#id1
		{
			float: left;
			padding:  20px 70px;
			width: 1379px;
			margin: 0 auto;
			background-color: red;
		}
		#id2
		{
			float: left;
			padding:  20px 70px;
			width: 1379px;
			height: 50px;
			margin: 0 auto;
			background-color: red;
		}
		.mainarticles
		{
			width: 1275px;
			float: left;
			border: 1px solid white;
			padding: 7px;
			background-color: white;
			padding-left: 20px;
			padding-right: 20px;
			margin-left: 100px;
			margin-bottom: 75px;
		}
		body
		{
			margin: 0;
			background-color: #E6E6FA;
		}
		header nav ul
		{
			float: left;
			position: relative;
			top: -150px;
			left: 350px;
		}
		header nav ul li
		{
			float: left;
			padding: 20px 50px;
		}
		header nav a
		{
			text-decoration: none;
			color: black;
			font-size: 25px;
			font-family: Lobster;
			padding: 20px;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
		}
		nav a:hover
		{
			color: red;
			background-color: white;			
			text-decoration: underline;
		}
		header ul
		{	
			float: left;
			list-style: none;			
		}
		header ul li
		{
			float: left;
		}
		textarea
		{
			font-size: 20px;
		}
		button
		{
			font-size: 20px;
			background: linear-gradient(to top, white, red);
			height: 50px;
			width: 200px;
		}
		button:hover
		{
			background: linear-gradient(to top, red, white);
			height: 50px;
			width: 200px;
		}